html, body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-image: url("./img/bg.png");
  background-color: #b87947;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1200px;
  display: flex;
  margin: 10px auto;
  -webkit-box-shadow: -2px 4px 22px 4px rgb(129, 84, 33);
  -moz-box-shadow: -2px 4px 22px 4px rgb(129, 84, 33);
  box-shadow: -2px 4px 22px 4px rgb(129, 84, 33);
  border-radius: 10px;
}
.main {
  display: flex;
  flex-flow: column;
  width: 90%;
  border-radius: 0 10px 10px 0;
}
.menu {
  width: 10%;
  padding: 10px 0px 0px 0px;
  background-image: url("./img/bg_menu.png");
  background-color:#F0EBD0;
  border-radius: 10px 0 0 10px;
  border-right: 1px dashed #b87947;
}
.menu > ul {
  padding: 0;
}
.menu > ul li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
}
.menu > ul li a {
  text-decoration: none;
  font-size:14px;
  color:brown; 
  text-transform: uppercase;
}
.menu > ul li:hover {
  background: #d2cec0;
}
.header {
  min-height: 300px;
  border-radius: 0 10px 0 0;
}
.home {
  background-image: url("./img/home.jpg");
  background-size: cover;
  background-position: bottom;
  border-radius: 0 10px 0 0;
}
.sobre {
  background-image: url("./img/sobre.jpg");
  background-size: cover;
  background-position: bottom;
  border-radius: 0 10px 0 0;
}
.horarios {
  background-image: url("./img/horario.jpg");
  background-size: cover;
  background-position: bottom;
  border-radius: 0 10px 0 0;
}
.contato {
  background-image: url("./img/contato.jpg");
  background-size: cover;
  background-position: bottom;
  border-radius: 0 10px 0 0;
}
.mask {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  border-radius: 0 10px 0 0;
}
.mask h1{
  border: 0;
  padding: 0;
  margin-block-start: 126px;
  color: rgba(245, 245, 220, 0.5);
}
.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
  background-image: url("./img/bg_menu.png");
  background-color:white;
}
.content p {
  color: darkred;
}
.footer {
  background-image: url("./img/bg_menu.png");
  background-color:#F0EBD0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  font-size: 11px;
  color: brown;
  border-radius: 0 0 10px 0;
  border-top: 1px dashed #b87947;
}

table {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background: white;
  margin-top: 100px;
  -webkit-box-shadow: -2px 4px 22px 4px rgb(129, 84, 33);
  -moz-box-shadow: -2px 4px 22px 4px rgb(129, 84, 33);
  box-shadow: -2px 4px 22px 4px rgb(129, 84, 33);
  border-radius: 10px;
}

table thead {
  background: brown;
  border: none;
  font-size: 12px;
  font-weight: bolder;
  text-align: center;
  color: #f7f6eb
}

table thead th{
  padding: 3px;
}

table tbody td {
  font-size: 12px;
  border-bottom: 1px solid brown;
}

table tbody tr {
  border-bottom: 1px solid brown;
}
fieldset {
  width:50%;
  margin: 0 auto;
  margin-top:20px;
  margin-bottom:20px;
  padding:0px 30px 40px 30px;
  border: none;
  background: white;
  -webkit-box-shadow: -2px 4px 22px 4px rgb(129, 84, 33);
  -moz-box-shadow: -2px 4px 22px 4px rgb(129, 84, 33);
  box-shadow: -2px 4px 22px 4px rgb(129, 84, 33);
  border-radius:8px;
  color: brown;
}

fieldset iframe {
  border-radius: 10px;
  border: none;
}

fieldset form label{
  color: brown;
  font-size: 14px;
  line-height: 20px;
}

fieldset form input {
  width: 96%;
  margin-bottom: 10px;
  border: 1px solid brown;
  border-radius: 4px;
  padding: 5px 10px;
  color: brown;
}

fieldset form button {
  width: 100px;
  padding: 10px;
  margin-top: 10px;
  float: inline-end;
  background: white;
  border: 1px solid brown;
}

fieldset form button:last-child{
  margin-right: 10px;
  background-color: brown;
  color: white;
}

fieldset form button:hover {
  background-color: rgb(194, 185, 185);
  font-weight: bolder;
  transition-duration: 0.5s;
}

fieldset form button:last-child:hover {
  background-color: rgb(96, 25, 25);
  transition-duration: 0.5s;
}

.imgContainer {
  text-align: center;
}

.imgContainer img {
  width:80%;
  -webkit-box-shadow: -2px 4px 22px 4px rgb(129, 84, 33);
  -moz-box-shadow: -2px 4px 22px 4px rgb(129, 84, 33);
  box-shadow: -2px 4px 22px 4px rgb(129, 84, 33);
  border-radius:8px;
}